<nav class="navbar">
  <div class="container-fluid">
    <ul
      style="
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
      "
    >
      <button class="btn btn-success" (click)="back()">Back</button>
      <h1 *ngIf="customer" style="margin: 0 10px 0 10px">
        {{ customer.customer_name | uppercase }}
        {{ customer.customer_lastname | uppercase }}
      </h1>
    </ul>
    <div class="d-flex padding: 0;">
      <h2 style="margin: 0">PRODUCTS</h2>
    </div>
  </div>
</nav>
<div class="row">
  <div class="col-3">
    <app-add-product [userId]="userId"></app-add-product>
  </div>
  <div class="col">
    <div *ngIf="products?.length == 0; else productCards">
      <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">*{{ message }}</h4>
        <p>
          *{{ messageResult }}
        </p>
      </div>
    </div>
  </div>
</div>

<ng-template #productCards>
  <app-list-products [products]="products"></app-list-products>
</ng-template>
