<div class="row">
  <button *ngIf="!true" class="visible"></button>
  <div class="col">
    <div class="navbar mb-3 mt-3">
      <h1>Clientes</h1>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Número documento" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Crear nuevo registro
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Registrar cliente nuevo</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <app-add-client></app-add-client>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="clients.length == 0;else tableClients">
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">Sin registros</h4>
        <p>No hay clientes registrados en el sistema. Intenta registrar en el formulario de registros.</p>
      </div>
    </div>
  </div>
</div>

<ng-template #tableClients>
  <table class="table table-sm table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Correo</th>
        <th scope="col">Tipo de documento</th>
        <th scope="col">Número de documento</th>
        <th scope="col">Fecha de naciemiento</th>
        <th scope="col">Fecha de creación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients" [attr.id]="client.client_id">
        <td>{{client.client_id}}</td>
        <td>{{client.client_name}} {{client.client_lastname}}</td>
        <td>{{client.client_email}}</td>
        <td>{{client.client_document_type}}</td>
        <td>{{client.client_document_number}}</td>
        <td>{{client.client_birthday}}</td>
        <td>{{client.client_created_at}}</td>
        <td>
          <button class="btn btn-outline-primary" (click)="goTo(client.client_id)">Detalle</button>
        </td>
      </tr>
    </tbody>
  </table>
</ng-template>