<div class="row my-4">
  <div class="col-md-12">
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
      <div class="col">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            [ngClass]="{ 'is-invalid': form['username'].errors }"
            id="username"
          />
          <div *ngIf="form['username'].errors" class="invalid-feedback">
            <div *ngIf="form['username'].errors['required']">
              Username is required
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': form['password'].errors }"
            id="password"
          />
          <div *ngIf="form['password'].errors" class="invalid-feedback">
            <div *ngIf="form['password'].errors['required']">
              Password is required
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            formControlName="name"
            class="form-control"
            [ngClass]="{ 'is-invalid': form['name'].errors }"
            id="name"
          />
          <div *ngIf="form['name'].errors" class="invalid-feedback">
            <div *ngIf="form['name'].errors['required']">Name is required</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="mb-3">
          <label for="lastname" class="form-label">Lastname</label>
          <input
            type="text"
            formControlName="lastname"
            class="form-control"
            [ngClass]="{ 'is-invalid': form['lastname'].errors }"
            id="lastname"
          />
          <div *ngIf="form['lastname'].errors" class="invalid-feedback">
            <div *ngIf="form['lastname'].errors['required']">
              Lastname is required
            </div>
          </div>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-success"
        [disabled]="registerForm.invalid"
        (click)="onSubmit()"
      >
        SignUp
      </button>
    </form>
  </div>
</div>
